<%- include('header.html') -%>
<%- include('menu.html') -%>

<form method="POST">
    <input type="text" name="author" placeholder="Author">
    <br> 
    <br>
    <textarea name="text" cols="30" rows="10" placeholder="Comment"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>
<%- include('footer.html') -%>