<%- include('header.html') -%>
<%- include('menu.html') -%>

<form method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name">
    <br> 
    <br>
    <textarea name="text" cols="30" rows="10" placeholder="Text"></textarea>
    <br>
    <input type="file" name="articleimg">        
    <br>
    <br>
    <button type="submit">Create</button>
</form>
<%- include('footer.html') -%>