<%- include('header.html') -%>
<%- include('menu.html') -%>

<p><strong><%- article.name -%></strong></p>
<p><%- article.text -%></p>
<form method="POST">
    <button type="submit"><%- (article.deleted)?'Undelete':'Delete' -%></button>
</form>
<br>
<% if(article.images.length){ %>
    <% for (var a=0;a < article.images.length;a++){ %>
        <img src="/images/<%- article.images[a] -%>" alt="img">
    <% } %>
<% } %>
<hr>

<a href="/all/<%-  article.id -%>/details/comments">Add comment</a>

<% for (var i=0;i < article.comments.length;i++){ %>
    <p>
        <%- article.comments[i].text -%>  <span> - <%- article.comments[i].author -%></span>
        <span><%- new Date(article.comments[i].created).toString() -%></span>
    </p>
    <hr>
<% } %>

<%- include('footer.html') -%>