<%- include('header.html') -%>
<%- include('menu.html') -%>

<h1>Hello!</h1>
<hr>
<% for (var i=0;i<articles.length;i++){ %>
    <a href="all/<%- articles[i].id -%>/details"><%- articles[i].name -%></a>
    <span><%- new Date(articles[i].created).toString() -%></span>
    <p><%- articles[i].text -%></p>
    <hr>
<% } %>

<%- include('footer.html') -%>